# Database
DB_HOST=DB_HOST
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_NAME=DB_NAME
DB_PORT=DB_PORT

# JWT
JWT_SECRET=JWT_SECRET
ACCESS_TOKEN_EXP_DAYS=ACCESS_TOKEN_EXP_DAYS
REFRESH_TOKEN_EXP_DAYS=REFRESH_TOKEN_EXP_DAYS

# CLOUDINARY
CLOUDINARY_CLOUD_NAME=YOURCLOUDNAME
CLOUDINARY_API_KEY=YOURAPIKEY
CLOUDINARY_API_SECRET=YOURAPISECRET
CLOUDINARY_BASE_FOLDER=go-chat-app

AI_PROVIDER=google # "google","openai"

# GEMINI
GEMINI_API_KEY=YOURAPIKEY
GEMINI_MODEL=gemini-2.5-flash

# OPENAI
OPENAI_API_KEY=YOURAPIKEY
OPENAI_MODEL=gpt-4o-mini